@import "tailwindcss";

@layer base {
  * {
    @apply box-border;
  }

  html {
    height: 100%;
  }

  body {
    @apply m-0 p-0 h-full font-sans text-[#c3b3d8];

    font-family: "Poppins", sans-serif;
    background: radial-gradient(circle at top left, #181023, #0b0519);
  }
}
